<div class="container mt-5">
  <h2>Activity List</h2>
  <div class="mb-4">
    <div class="input-group mb-2">
      <input
        type="text"
        class="form-control"
        placeholder="Enter your name"
        [(ngModel)]="newNote.user"
      />
    </div>
    <div class="input-group mb-2">
      <select class="form-select" [(ngModel)]="newNote.type">
        <option value="Message">Message</option>
        <option value="Phone">Phone</option>
        <option value="Coffee">Coffee</option>
        <option value="Beer">Beer</option>
        <option value="Meeting Note">Meeting Note</option>
      </select>
    </div>
    <div class="input-group">
      <textarea
        class="form-control"
        placeholder="Enter a note"
        [(ngModel)]="newNote.content"
      ></textarea>
    </div>
    <div class="input-group mt-4">
      <button class="btn btn-primary" (click)="addNote()">Add Note</button>
    </div>
  </div>
   <!-- Timeline Section -->
    <div class="timeline" *ngFor="let note of notes">


      <!-- Timeline Item -->
      <div class="timeline-item mb-4" *ngIf="note.type == 'Message'">
        <div class="timeline-icon">{{ note.timestamp | date : 'time'}}</div>
        <div class="timeline-content">
         <strong>You had a call with <span class="text-primary">{{ note.user }}</span></strong>
          <p>{{ note.content }}</p>
        </div>
      </div>
      <!-- Timeline Item -->
      <div class="timeline-item mb-4" *ngIf="note.type == 'Phone'">
        <div class="timeline-icon">5d</div>
        <div class="timeline-content">
         <strong>You had a meeting with <span class="text-primary">{{ note.user }}</span></strong>
          <p>{{ note.content }}</p>
        </div>
        <button class="btn btn-outline-secondary btn-sm action-btn" title="Delete">
          <i class="bi bi-trash"></i>
        </button>
      </div>
      <!-- Timeline Item -->
      <div class="timeline-item mb-4" *ngIf="note.type == 'Coffee'">
        <div class="timeline-icon">6d</div>
        <div class="timeline-content">
          <strong>You had a coffee with <span class="text-primary">{{ note.user }}</span></strong>
          <p>{{ note.content }}</p>
        </div>
        <button class="btn btn-outline-secondary btn-sm action-btn" title="Delete">
          <i class="bi bi-trash"></i>
        </button>
      </div>
      <!-- Timeline Item -->
      <div class="timeline-item" *ngIf="note.type == 'Beer'">
        <div class="timeline-icon">14d</div>
        <div class="timeline-content">
          <strong>You added a note to <span class="text-primary">{{ note.user }}</span></strong>
          <p>{{ note.content }}</p>
        </div>
        <button class="btn btn-outline-secondary btn-sm action-btn" title="Delete">
          <i class="bi bi-trash"></i>
        </button>
      </div>
      <div class="timeline-item" *ngIf="note.type == 'Meeting Note'">
        <div class="timeline-icon">14d</div>
        <div class="timeline-content">
          <strong>You added a note to <span class="text-primary">{{ note.user }}</span></strong>
          <p>{{ note.content }}</p>
        </div>
        <button class="btn btn-outline-secondary btn-sm action-btn" title="Delete">
          <i class="bi bi-trash"></i>
        </button>
      </div>
    </div>
  
</div>