<div class="container mt-5">
  <h2>Activity List</h2>
  <div class="mb-4">
    <div class="input-group mb-2">
      <input
        type="text"
        class="form-control"
        placeholder="Enter your name"
        [(ngModel)]="newNote.user"
      />
    </div>
    <div class="input-group mb-2">
      <select class="form-select" [(ngModel)]="newNote.type">
        <option value="Message">Message</option>
        <option value="Phone">Phone</option>
        <option value="Coffee">Coffee</option>
        <option value="Beer">Beer</option>
        <option value="Meeting Note">Meeting Note</option>
      </select>
    </div>
    <div class="input-group">
      <textarea
        class="form-control"
        placeholder="Enter a note"
        [(ngModel)]="newNote.content"
      ></textarea>
    </div>
    <div class="input-group mt-4">
      <button class="btn btn-primary" (click)="addNote()">Add Note</button>
    </div>
  </div>
   <!-- Timeline Section -->
    <div class="timeline" *ngFor="let note of notes">
      <div class="timeline-icon"><i class="fa fa-calendar" aria-hidden="true"></i>
      </div>      
      <div class="timeline-item mb-4" >
        <div class="timeline-content">
          <small class="text-muted">
            {{ note.timestamp | date: 'shortTime' }}
          </small>
         <strong *ngIf="note.type == 'Message'">You send a message to <span class="text-primary">{{ note.user }}</span></strong>
         <strong *ngIf="note.type == 'Phone'">You had a call with <span class="text-primary">{{ note.user }}</span></strong>
         <strong *ngIf="note.type == 'Coffee'">You had a coffee with <span class="text-primary">{{ note.user }}</span></strong>
         <strong *ngIf="note.type == 'Beer'">You had a beer with <span class="text-primary">{{ note.user }}</span></strong>
         <strong *ngIf="note.type == 'Meeting Note'">You added a note to <span class="text-primary">{{ note.user }}</span></strong>
          <p>{{ note.content }}</p>
        </div>
      </div>
    </div>
  
</div>